.App {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.842);
}
.App-logo {
  height: 30vmin;
  pointer-events: none;

}
.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,400px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card{
  background: rgba(168, 167, 167, 0.4);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 800px;
  border: 8px solid rgba( 255, 255, 255, 0.18 );
  margin:100px;
  color:rgb(255, 255, 255);
  width: 400px;
  height: 800px;
  padding: 50px;      
  transition: 0.6s;
}
 .card:hover{
  border-radius: 10px;
  transition: 0.3s;
  transform: translateY(-80px);

} 
.conteiner{
  display: flex;
  align-items: flex-end;
  text-align: center;
}
h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Marvel', sans-serif;
  font-size: 100PX;
  background-color:red;
  color: #fff;
  font-weight: 900;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
